
*
{
	margin:0px;
}
.clear
{
	clear: both;
}

.container
{
	width: 100%;
	min-width: 360px;
	margin: auto;
  overflow: auto;
}
.header img
{
	width: 100%;
}
.header
{
	height: 180px;
}
.content
{
	background-image: linear-gradient(324deg,#00adb7,#15ceab);
	padding-top: 32px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 27px;

}
.page-title
{
  margin-left: 30px;
}

.user-ques p
{
  font-family: Roboto;
  font-size: 40px;
  font-weight: 900;
  font-style: italic;
  font-stretch: normal;
  line-height: 1.08;
  letter-spacing: normal;
  color: #ffffff;
  text-align: center;
  margin-top: 6px;
}
.serial-no
{
  width: 24px;
  height: 24px;
  background-color: #41a592;
  border-radius: 50%;
  float: left;
}
.serial-no p
{
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  padding-top: 4px;
}
.rule-description
{
	float: left;
	margin-left: 14px;
}
.rule-description p
{
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: #ffffff;
}
.rules-content
{
	margin-top: 18px;
}
.submit button
{
  width: 320px;
  height: 64px;
  border-radius: 5px;
  background-image: linear-gradient(79deg, #ffbf32, #fce361);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  border:none;
  font-family: Roboto;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: #303030;
}
.submit
{
	margin-top: 50px;
	text-align: center;
}
.know-rules
{
	float: left;
}
.credits-use
{
	float: right;
	
}
.make-border
{
	border-left: 1px solid #d6d6d6;
	float: left;
	height: 15px;
	margin-left: 25px;
}
.know-rules button
{
	background: none;
  border:none;
  font-family: Roboto;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: #ffffff;
}
.credits-use button
{
	background: none;
  border:none;
  font-family: Roboto;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: #ffffff;
}
.information
{
	margin-top: 24px;
}





  .popup-rules p
  {
    
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
  margin-left: 25px;

  }
  .rules-content span
  {

  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #4a4a4a;

  }
  .rules-content li
  {
    color: #bdbdbd;
    margin-top: 20px;
  }
  .close-submit a
  {
  text-decoration: none;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 50px;
  letter-spacing: 0.5px;
  text-align: center;
  color: #00adb7;

  }
  .close-submit
  {
    text-align: center;
    border-top: 1px solid #d6d6d6;
    margin-top: 25px;

  }
  

  .modal
  {
     display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.7); 
  }

  .modal-content
  {
    
    position: fixed;
    z-index: 1;
    top: 20%;
    left: 14%;
     width: 280px;
     padding-right: 20px;
    border-radius: 4px;
    padding-top: 25px;
    
    background-color: #ffffff;

  }

  .popup
  {
     display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.7); 
  }

.popup-content
  {
    position: fixed;
    z-index: 1;
    top: 20%;
    left: 14%;
     width: 280px;
     padding-right: 20px;
    border-radius: 4px;
    padding-top: 25px;
    
    background-color: #ffffff;
  }


  

@media screen  and (min-width: 320px) and (max-width: 349px){
  .modal-content
  {
    left: 7%;
  }
  .popup-content
  {
    left: 7%;
  }
}

@media screen  and (min-width: 370px) and (max-width: 380px){
  .modal-content
  {
    left: 10%;
  }
  .popup-content
  {
    left: 10%
  }
}
@media screen  and (min-width: 355px) and (max-width: 365px){
   .modal-content
   {
    left: 8%;
   }
   .popup-content
   {
    left: 8%;
   }
}



